{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<title>Spot Your Mood!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/landing_page_style.css?version=3">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Spot<br>Your<br>Mood</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About</a>
    <a href="#currentmood" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Learn Your Current Mood</a> 
    <a href="#playlistinfo" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Learn About Your Playlists</a> 
    <a href="#designplaylist" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Design Your Own Playlist</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Spot Your Mood</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <div class="w3-container" id="about" style="margin-top:75px">
        <h1 class="w3-jumbo"><b>Spotify History Through a New Lens</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>About.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Spot Your Mood is a spotify companion extension that allows you to learn more about your mood over time!</p>
        <p>We display mood information about your current listening habits, as well as information about each of 
            your playlists! We also encourage you to explore the "Design Your Own Playlist" section, where you can 
            tweak certain music parameters, and we will generate a playlist for you that matches how you're feeling!
        </p>
      </div>

    <div class="w3-container" style="margin-top:80px" id="currentmood">
    <h1 class="w3-xxxlarge w3-text-red"><b>Current Mood.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p class="w3-xxxlarge w3-text-red" style="text-align: center;">
        You Are Currenly {{recently_played_info['emotion']}}! Learn more below.</p>
    </div>

    <table class = "styled-table">
        <caption>Table Legend:<br>
            Danceability: On a range from 'not at all danceable' to 'disco'<br>
            Energy: On a range from 'chill' to 'no chill'<br>
            Tempo: On a range from 'slow' to 'fast'<br>
            What Mood are You In Right Now?: The mood of your recent history based on our classification and sentiment analysis algorithm :)
        </caption>
        <thead>
            <tr>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Tempo</th>
                <th>What Mood are You In?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ recently_played_info['averages']['Danceability'] }} </td>
                <td> {{ recently_played_info['averages']['Energy'] }} </td>
                <td> {{ recently_played_info['averages']['Tempo'] }} </td>
                <td> {{ recently_played_info['emotion'] }} </td>
            </tr>
        </tbody>
    </table>

  <div class="w3-container" style="margin-top:80px" id="playlistinfo">
    <h1 class="w3-xxxlarge w3-text-red"><b>Playlist Classification.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

    <table class = "styled-table">
        <caption>Table Legend:<br>
                Danceability: On a range from 'not at all danceable' to 'disco'<br>
                Energy: On a range from 'chill' to 'no chill'<br>
                Tempo: On a range from 'slow' to 'fast'<br>
                What Mood is Your Playlist: The mood of your playlist based on our classification and sentiment analysis algorithm :)
        </caption>
        <thead>
            <tr>
                <th>Your Playlist Name</th>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Tempo</th>
                <th>What Mood is Your Playlist?</th>
            </tr>
        </thead>
        <tbody>
            {% for info in playlist_info %}
                <tr>
                    <th> {{ info['name'] }} </th>
                    <td> {{ info['averages']['Danceability'] }} </td>
                    <td> {{ info['averages']['Energy'] }} </td>
                    <td> {{ info['averages']['Tempo'] }} </td>
                    <td> {{ info['emotion'] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="w3-container" id="designplaylist" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Design Your Own Playlist.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p></p>
        <!-- <p class = "form-slider-bar">
          {{form.acoustic.label}}:
          {{form.acoustic(min=0, max=100, oninput = "outputUpdate('#selected-acoustic', value)")}}
          <output for="acoustic" id="selected-acoustic">{{form.acoustic.data}}</output>
        </p>
        <p class = "form-slider-bar">
          {{form.danceable.label}}:
          {{form.danceable(min=0, max=100, oninput = "outputUpdate('#selected-danceable', value)")}}
          <output for="danceable" id="selected-danceable">{{form.danceable.data}}</output>
        </p>
        <p class = "form-slider-bar">
          {{form.energy.label}}:
          {{form.energy(min=0, max=100, oninput = "outputUpdate('#selected-energy', value)")}}
          <output for="energy" id="selected-energy">{{form.energy.data}}</output>
        </p>
        <p class = "form-slider-bar">
          {{form.positivity.label}}:
          {{form.positivity(min=0, max=100, oninput = "outputUpdate('#selected-positivity', value)")}}
          <output for="positivity" id="selected-positivity">{{form.positivity.data}}</output>
        </p>
        <p class = "form-slider-bar">
          {{form.instrumental.label}}:
          {{form.instrumental(min=0, max=100, oninput = "outputUpdate('#selected-instrumental', value)")}}
          <output for="instrumental" id="selected-instrumental">{{form.instrumental.data}}</output>
        </p>
        <p class = "form-slider-bar">
          {{form.liveness.label}}:
          {{form.liveness(min=0, max=100, oninput = "outputUpdate('#selected-positivity', value)")}}
          <output for="liveness" id="selected-liveness">{{form.liveness.data}}</output>
        </p>
        <p>{{wtf.form_field(form.genre)}}</p>
        <p>{{wtf.form_field(form.limit)}}</p> -->
        <p>{{wtf.quick_form(form)}}</p> 
      </div>

      <table class = "styled-table">
        <thead>
            <tr>
                <th>Song Name</th>
                <th>Song Artist</th>
                <th>Link to Song</th>
            </tr>
        </thead>
        <tbody>
            {% for info in form_submit_msg %}
                <tr>
                    <th> {{ info[0] }} </th>
                    <td> {{ info[1] }} </td>
                    <td> <a href={{ info[2] }} target="_blank" style="color:blue">Click Here!</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

function outputUpdate(query, val) {
  document.querySelector(query).value = val
}
</script>

</body>
</html>
{% endblock %}